.App {
  text-align: center;
  background: #e2e2e2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 50px;
}

.upperBar {
  position: absolute;
  display: flex;
  transform: translate(0px, -100%);

}

.sideBar {
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translate(-100%, 0);

}

.upperBar .cell,
.sideBar .cell {
  background-color: gainsboro;
  pointer-events: none;
}

.cells {
  display: flex;
}

.cell {
  width: 20px;
  height: 20px;
  padding: 10px;
  border: 1px solid gray;
  background: white;
  cursor: pointer;
}

.cell.ship {
  background: rgb(100, 98, 98);
}

.cell.shot {
  background: linear-gradient(135deg, #f05f57 0%, #a0302a 100%);
  position: relative;
  cursor: none;
  pointer-events: none;
}

.cell.shot:before {
  content: "X";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cell.miss {
  background: linear-gradient(135deg, #5efce8 10%, #736efe 100%);
  position: relative;
  cursor: none;
  pointer-events: none;
}

.btns {
  display: flex;
  gap: 20px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background: #8f8ebd;
  border: 0;
  width: 150px;
  color: inherit;
  cursor: pointer;
}
